@font-face {
	font-family: "Dancing Script";
	src: url(fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

#dialog,
img,
.img-container {
	border-radius: 10px;
}

button {
	background-color: #d5dcf9;
}

body {
	font-family: "Dancing Script";
	font-weight: 300;
	font-size: 20px;
	min-height: 100vh;
	--box-shadow: 0px 0px 1px 1px black;
	--box-shadow-inset: 0px 0px 2px 1px black inset;
	--box-shadow-hover: 0px 0px 1px 1px white;
	--box-shadow-img: 0px 0px 1px 1px black, 0px 0px 1px 2px white;
}

header,
section,
footer {
	padding-inline: max(24px, calc((100% - 1600px) / 2));
	width: 100%;
}

header,
footer {
	height: 10vh;
	background-color: #725e54;
	box-shadow: var(--box-shadow);
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
}

header .logo {
	padding: 1vh 0;
	height: 8vh;
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer .logo {
	height: 6vh;
	aspect-ratio: 1;
}

footer span {
	color: white;
}

.hero {
	min-height: 80vh;
	background-color: #443627;
	padding-inline: max(24px, calc((100% - 1000px) / 2));
	padding-block: 4vh;

	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-direction: column;
	gap: 2vh;
	box-shadow: var(--box-shadow);
}

h1,
h2 {
	text-align: center;
	color: white;
	font-weight: bold;
}

h1 {
	font-size: 72px;
}

.images {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	row-gap: 3vw;
	column-gap: 2vh;
}

.hero .img-container {
	height: 110px;
	aspect-ratio: 1;
	overflow: hidden;
	box-shadow: var(--box-shadow-img);
}

.hero .img-container:hover {
	box-shadow: var(--box-shadow-hover);
}

.hero .img-container img {
	height: 100%;
	aspect-ratio: 1;
	object-fit: cover;
	transition: scale 1s;
}

.hero .img-container img:hover {
	scale: 1.2;
}

#dialog {
	position: fixed;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	height: 75vh;
	width: max(280px, 40vw);

	background-color: black;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding-block: 3vh;
	padding-inline: max(24px, 5vw);

	z-index: 100;

	box-shadow: var(--box-shadow-hover);
}

#dialog button {
	border: 1px solid white;
	box-shadow: var(--box-shadow-img);
	transition: filter 225ms linear, box-shadow 225ms linear;
}

#dialog button:hover {
	box-shadow: 0px 0px 0px 2px black, 0px 0px 1px 3px white;
	filter: brightness(150%);
}

#dialog .close-btn {
	border-top-right-radius: 5px;
	position: absolute;
	top: 15px;
	right: 15px;
	width: 30px;
	aspect-ratio: 1;
}

.close-btn img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#dialog .dialog-header {
	display: flex;
	align-items: start;
}

#dialog .img-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

#dialog .img-container img {
	object-fit: contain;
	width: 100%;
	height: 40vh;
	box-shadow: 0px 0px 1px 2px black, 0px 0px 2px 3px white;
}

#dialog .nav-buttons {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#dialog .nav-buttons button {
	display: flex;
	justify-content: center;
	align-items: center;
	/* height: 25px; */
	padding: 4px 10px;
	font-family: "Dancing Script";
	font-size: 20px;
	font-weight: bold;
}

#dialog .nav-buttons button > img {
	width: 20px;
	aspect-ratio: 1;
}

#dialog .headline-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-block: 2vh;
	height: 15vh;
	justify-self: center;
	word-break: break-word;
}

#dialog h2 {
	font-size: 24px;
	text-shadow: 1px 1px 3px #f5e960;
}

#dialog p {
	height: 75px;
	width: 100%;
	padding-block: 2vh;
	height: 20vh;
	font-size: 16px;
	color: white;
	display: flex;
	align-items: start;
	justify-content: start;
	flex-direction: column;
	gap: 10px;
	word-break: break-word;
}

#dialog .source {
	color: #f5e960;
	font-weight: bold;
	font-family: system-ui;
	text-shadow: 0px 0px 1px white;
}

#dialog .text {
	font-weight: 250;
	font-family: system-ui;
	text-shadow: 1px 1px 2px white;
}

.left {
	border-bottom-left-radius: 6px;
}

.right {
	border-bottom-right-radius: 6px;
}

.d_none {
	display: none;
	visibility: hidden;
	overflow: hidden;
}

@media (width <= 720px) {
	h1,
	p {
		scale: 0.8;
	}
}

@media (width <= 720px) {
	h1,
	p {
		scale: 0.8;
	}
}
