@font-face {
	font-family: "Dancing Script";
	src: url(fonts//dancing-script-v25-latin/dancing-script-v25-latin-regular.woff2);
}

@font-face {
	font-family: "Libre Baskerville";
	src: url(fonts/libre-baskerville-v16-latin/libre-baskerville-v16-latin-regular.woff2);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

#dialog,
img,
.img-container {
	border-radius: 10px;
}

button {
	background-color: #e3c567;
}

body {
	font-family: "Dancing Script";
	font-size: 24px;
	min-height: 100vh;
	--box-shadow: 0px 0px 1px 1px black, 0px 0px 1px 2px #e3c567;
	--box-shadow-hover: 0px 0px 2px 2px black, 0px 0px 2px 4px #e3c567;
}

header,
section,
footer {
	padding-inline: max(24px, calc((100% - 1600px) / 2));
	width: 100%;
}

header,
footer {
	height: 10vh;
	background-color: #725e54;
	box-shadow: var(--box-shadow);
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
}

header .logo {
	padding: 1vh 0;
	height: 6vh;
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

footer .logo {
	height: 6vh;
	aspect-ratio: 1;
}

footer span {
	color: white;
}

.hero {
	min-height: 80vh;
	background-color: rgb(68, 54, 39);

	padding-inline: max(24px, calc((100% - 1000px) / 2));
	padding-block: 4vh;

	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-direction: column;
	gap: 2vh;
	box-shadow: var(--box-shadow);
}

h1,
h2 {
	text-align: center;
	color: white;
}

h1 {
	font-size: 72px;
	font-family: "Dancing Script";
}

.images {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	row-gap: 3vw;
	column-gap: 2vh;
}

.hero .img-container {
	height: 150px;
	overflow: hidden;
	box-shadow: var(--box-shadow);
	transition: box-shadow 225ms;
}

.hero .img-container:hover {
	box-shadow: var(--box-shadow-hover);
}

.hero .img-container img {
	height: 100%;
	object-fit: contain;
	transition: scale 225ms;
}

.hero .img-container img:hover {
	scale: 1.15;
}

#dialog {
	position: fixed;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	--dia-height: 75vh;
	height: var(--dia-height);
	width: calc(280px + (420 * ((100vw - 320px) / 1600)));
	min-width: 280px;

	background-color: rgba(68, 54, 39, 0.7);

	display: grid;
	grid-template-rows: 15vh calc(var(--dia-height) - 40vh - 6vh) 15vh 10vh;
	justify-items: center;
	/* display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */

	padding-block: 3vh;
	padding-inline: max(24px, 5vw);

	z-index: 100;

	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	backdrop-filter: blur(10px);
}

#dialog button {
	border: 1px solid black;
	box-shadow: var(--box-shadow);
	transition: filter 225ms linear, box-shadow 225ms linear;
}

#dialog button:hover {
	box-shadow: var(--box-shadow-hover);
	filter: brightness(150%);
}

#dialog .close-btn {
	border-top-right-radius: 5px;
	position: absolute;
	top: 15px;
	right: 15px;
	width: 30px;
	aspect-ratio: 1;
}

.close-btn img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#dialog .dialog-header {
	display: flex;
	align-items: start;
}

#dialog .img-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

#dialog > img {
	object-fit: contain;
	max-width: 100%;
	width: min-content;
	height: min-content;
	max-height: 100%;
	box-shadow: 0px 0px 1px 2px black, 0px 0px 2px 3px white;
}

#dialog .nav-buttons {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#dialog .nav-buttons button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4px 10px;
	font-family: "Dancing Script";
	font-size: calc(22px + (10 * ((100vw - 320px) / 1600)));
	font-weight: bold;
}

#dialog .nav-buttons button > img {
	width: 20px;
	aspect-ratio: 1;
}

#dialog .headline-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-block: 2vh;
	height: 15vh;
	justify-self: center;
	word-break: break-word;
}

#dialog h2 {
	font-family: "Libre Baskerville";
	color: white;
	font-size: calc(22px + (10 * ((100vw - 320px) / 1600)));
}

#dialog p {
	height: 75px;
	width: 100%;
	padding-block: 2vh;
	height: 100%;
	font-size: 18px;
	color: white;
	display: flex;
	align-items: start;
	justify-content: center;
	flex-direction: column;
	word-break: break-word;
}

#dialog .source {
	color: #e3c567;
	font-weight: bold;
	font-family: system-ui;
}

#dialog .text {
	user-select: all;
	font-weight: 250;
	font-family: system-ui;
	text-overflow: ellipsis;
}

.left {
	border-bottom-left-radius: 6px;
}

.right {
	border-bottom-right-radius: 6px;
}

.d_none {
	display: none;
	visibility: hidden;
	overflow: hidden;
}

@media (width <= 720px) {
	h1 {
		scale: 0.8;
	}

	footer .logo {
		height: 4vh;
	}
}

@media (width <= 500px) {
	h1 {
		scale: 0.8;
	}
	footer {
		justify-content: center;
	}
}
